# Docker
HOST_PORT="11435"
PORT="3000"
API_KEY="sk-or-..."
BASE_URL="https://openrouter.ai/api/v1"

# Node
# PORT="11435"
# API_KEY="sk-or-..."
# BASE_URL="https://openrouter.ai/api/v1"
# MODELS_PATH="./models.json"